.feature-page-hero {
  padding: 10% 80px 5% 80px;
}
.feature-page-hero .dark-btn, .feature-page-content-box .dark-btn {
  width: 70%;
}

.feature-page-content-box {
  padding: 8% 80px 0% 80px;
  background: #fff;
}
.feature-page-hero .textual-content,
.feature-page-content-box .textual-content {
  text-align: left;
}

.feature-page-hero .textual-content span,
.feature-page-content-box .textual-content span,
.feature-page-content-box .textual-content ul li {
  font-size: 20px;
}

.feature-page-content-box .textual-content ul {
  background: #FFE8B7;
  padding: 15px;
  border-radius: 15px;
}
.feature-page-content-box .textual-content ul li {
  margin-left: 20px;
}
.center-heading {
  text-align: center;
  padding: 10% 2% !important;
  background: linear-gradient(180deg, #f7f7f705 15%, #fff 50%) !important;
}
.center-heading h2 {
  font-size: 42px;
}
.acquire-feature .feature-page-content-box:nth-child(1) {
  padding: 5% 80px 0% 80px !important;
}
.acquire-feature .feature-page-content-box:nth-child(2) .ant-row,
.acquire-feature .feature-page-content-box:nth-child(4) .ant-row {
  flex-direction: row-reverse;
}
.acquire-feature .feature-page-content-box:nth-child(4) {
  padding-bottom: 8% !important;
}
.feature-page-hero .dark-btn span, .feature-page-content-box .dark-btn span{
  font-size: 20px !important;
}
.feature-page-hero .dark-btn:hover span, .feature-page-content-box .dark-btn:hover span{
  font-size: 16px !important;
  transition: .5s;
}
@media (max-width: 480px) {
  .feature-page-hero {
    padding: 10% 20px 5% 20px;
  }
  .acquire-feature .feature-page-content-box:nth-child(1) {
    padding: 5% 20px 0% 20px !important;
  }
  .feature-page-content-box {
    padding: 8% 20px 0% 20px;
  }
}
