@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  /* background: linear-gradient(to bottom, #fbbc04, #fabc25); */
  /* background-color: #FFBB2A; */
  background-color: #ffe1a3;
  font-family: 'Lato', serif !important;
  text-align: center;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
.ant-typography,
label {
  font-family: 'Lato', serif !important;
}

.identity-card {
  height: 100% !important;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  background: transparent;
  position: fixed;
  z-index: 99;
  width: 100% !important;
}

.navbar.scrolled {
  transition: 0.3s;
  background-color: #ffbb2a;
}

.ant-layout-content {
  padding: 0px !important;
}

.ant-menu.ant-menu-sub.ant-menu-vertical {
  background: transparent;
}

.mega-menu {
  background: #fdeccb;
  padding: 20px 20px;
  border-radius: 20px;
  width: 300px;
}

.mega-menu h4 {
  font-size: 16px;
  font-weight: bold;
  color: #a29986;
  text-align: left;
  margin-bottom: 20px;
}

.mega-menu h5 {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  text-align: left;
  margin: 5px 0px;
}

.mega-menu span {
  font-size: 14px;
  font-weight: 400;
  color: #958f81;
  text-align: left;
  margin: 5px 0px;
}

.navbar .contact-us-modal-btn,
.navbar .contact-us-modal-btn:hover {
  background: transparent !important;
  border: 0px;
  padding: 0px;
  font-size: 18px;
  margin-top: -12px;
  box-shadow: none;
  color: #000000 !important;
}

.contact-us-container {
  display: flex;
  flex-direction: row;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.contact-us-container .contact-form {
  width: 50%;
  padding: 24px;
  text-align: left;
}

.contact-us-container .contact-title {
  color: #07074b;
  font-size: 40px;
}

.contact-us-container .contact-description {
  color: #000;
  font-size: 16px;
}

.contact-us-container .form {
  margin-top: 16px;
}

.contact-us-container .contact-button {
  background-color: #1b1f3b !important;
  color: #fff;
  border: none;
}

.contact-us-container .contact-info {
  width: 50%;
  background: #f7f7f7;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.contact-info-content {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
}

.contact-info-content h4 {
  font-size: 28px;
  color: #070748;
}

.contact-info-content li {
  font-size: 16px;
  color: #070748;
}

.contact-us-container .contact-list {
  list-style: disc;
  padding-left: 20px;
  color: #444;
}

.contact-us-container .contact-link {
  font-weight: bold;
  cursor: pointer;
  font-size: 24px;
  color: #070748;
  float: right;
}

.checkbox-notify {
  font-size: 20px;
  color: #545d69;
}

.contact-form-submission-btn .dark-btn {
  width: 100%;
}

.contact-us-container .contact-illustration {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.contact-us-container .form .ant-form-item input,
.contact-us-container .form .ant-form-item textarea {
  font-size: 16px;
  padding: 10px 10px;
}

/* .mega-menu .middle-nav {
  border-right: 1px solid white;
  border-left: 1px solid white;
  margin: 0px 20px;
  padding: 0px 20px;
} */
.mega-menu .feature-item {
  text-align: left;
  transition: 0.4s;
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
}

.mega-menu .feature-item img {
  margin-top: 7px;
  position: relative;
  right: 10px;
}

.mega-menu .feature-item:hover {
  transition: 0.4s;
  background: white;
}

.platform-cards .ant-card {
  padding: 0px;
  background: transparent;
  box-shadow: none;
  border: 0px;
  text-align: left;
  margin-bottom: 20px;
}

.platform-cards .ant-card-body {
  padding: 0px;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 16px;
}

/* Desktop Menu */
.menu {
  flex-grow: 1;
  padding: 0px 30px;
  background: transparent;
  border: none;
}

.menu .nav-item {
  margin-top: 20px !important;
  color: #000;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.menu .btn-nav {
  float: right;
  margin-left: auto;
  margin-top: 10px !important;
}

/* Mobile Menu Icon */
.menu-icon {
  font-size: 24px;
  cursor: pointer;
  display: none;
}

/* Mobile Drawer */
.mobile-menu {
  border: none;
  background: transparent;
}

/* .ant-menu-submenu.css-dev-only-do-not-override-19lec04 {
  width: 100%;
  left: 0px !important;
} */
.cta-btn {
  background: black;
  color: white;
  border: none;
  display: none;
}

.video-placeholder {
  width: 100%;
  height: 100%;
  /* position: absolute;
  top: 0;
  left: 0;
  z-index: 1; */
  object-fit: cover;
}

.hero-video {
  width: 100%;
  height: auto;
}

.hero-video.hidden {
  display: none;
}

.hero-video.visible {
  display: block;
}

.dark-btn {
  background: #07074b;
  height: 46px;
  width: 18%;
  font-weight: 700;
  padding: 12px 30px;
  border-radius: 30px;
  color: #ffbb2a;
  font-size: 24px !important;
  border: 1px solid black !important;
}

.navbar .dark-btn {
  width: 100% !important;
}

.hero .dark-btn {
  margin: 32px 0px;
}

.navbar ul li::after {
  border: 0px !important;
}

.audiences-header {
  font-size: 16px;
}

.section-title-header {
  text-align: center !important;
  margin-bottom: 32px;
}

.section-title-header + .ant-typography,
.section-title-header + .identity-header .ant-typography,
.section-title-header + .activate-header .ant-typography,
.section-title-header + .audiences-header .ant-typography {
  width: 90%;
  margin: 0 auto;
  margin-top: 15px;
  font-size: 20px !important;
  font-weight: 500 !important;
  line-height: 2;
}

.checkout-header .section-title-header + .ant-typography {
  font-size: 20px !important;
  font-weight: 400 !important;
  width: 60% !important;
}

.section-title-header img {
  width: 50px !important;
}

.cotact-info {
  font-size: 24px !important;
  color: #39396c !important;
  margin: 0px 5px !important;
}

.contact-info-box img {
  margin-top: 7px;
}

.dark-btn:hover {
  background: #07074b !important;
  border-radius: 30px !important;
  color: #f3b228 !important;
  -webkit-box-shadow: 0px 10px 13px -7px #1f190c,
    2px 6px 10px 4px rgba(0, 0, 0, 0) !important;
  border: 1px solid black !important;
  box-shadow: 0px 7px 8px -7px #1f190c, 2px 6px 7px 4px rgba(0, 0, 0, 0) !important;
  /* font-size: 16px !important; */
}

.hero {
  padding: 50px 20px 0px 20px;
  /* position: relative;
  z-index: 999999;
  height: 100vh; */
}

.hero-video-box {
  position: relative;
  cursor: pointer;

  .video-container {
    position: relative;
  }

  .hero-video {
    width: 100%;
    border-radius: 16px;
  }

  .play-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: rgba(0, 0, 0, 0.5); */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .play-icon {
    font-size: 50px;
    color: white;
  }
}

.aquire-btn {
  padding-top: 20px;
  /* padding-bottom: 30px; */
}


.Aquire-cards {
  height: 100%;
  transition: 0.4s;
  border-radius: 20px !important;
  background-color: #fff9ee !important;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.26) !important;
}

.Aquire-cards:hover {
  transition: 0.4s;
  background-color: #ffbb2a !important;
}



.Aquire-cards .card-content img {
  height: 50px;
  width: 50px;
  margin-top: 10px;
}

.section-title-header image {
  width: 100px;
}

.hero-video {
  margin: 30px 0px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.hero-video-box .ant-col {
  margin: 0 auto;
}

.hero h1 {
  margin-top: 100px !important;
  color: #000;
  font-family: Lato;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 32px;
}

.text {
  color: #000;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero-image {
  margin-top: 20px;
}

.acquire-section {
  text-align: center;
  padding: 40px 20px;
  /* background: linear-gradient(to bottom, #fde6a8, #fddc93); */
}

.section-title-header {
  display: flex;
  padding: 0px 0px 5px 20px;
  justify-self: center;
}

.section-title-header h2 {
  margin: 0px 0px 0px 10px !important;
  padding: 0px 0px 0px 0px !important;
  font-size: 56px;
}

.acquire-section .ant-typography {
  padding: 0px 20px;
  text-align: center;
}

.icon-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #fbbc04;
  padding: 10px;
  border-radius: 8px;
}

h2 {
  margin-top: 10px;
}

p {
  max-width: 600px;
  margin: 0 auto;
  font-size: 16px;
}

.acquire-section {
  /* margin-top: 70px; */
  padding: 0px !important;
}

.AcquireCards {
  padding: 0px 70px;
  background-color: #fff4df;
padding-bottom: 0px !important;
  /* background: linear-gradient(180deg,
      rgba(255, 252, 240, 0.377) 100%,
      rgba(255, 252, 240, 0.377) 100%) !important; */
}

.cards-section {
  text-align: center;
  padding: 60px 90px;
  /* background: linear-gradient(to bottom, #fde6a8, #fddc93); */
  background: transparent;
}

.feature-section {
  position: relative;
  margin: 25px auto;
  padding: 0px 50px;
  overflow-x: hidden;
  margin: 50px 50px;
}

.feature-section {
  opacity: 0;
  animation: fadeIn 1.3s ease-in 1.3s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.swiper-slide .ant-card .links .icon div svg {
  width: 25px;
  height: 30px;
  margin: 5px;
}

.privacyIdcon svg {
  width: 100% !important;
  height: 100% !important;
}

.feature-slider {
  width: 100%;
  height: 100%;
  padding: 70px 0px;
}

.feature-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe8b7;
  color: #243c82;
  width: 300px;
  border-radius: 20px;
  /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); */
  transition: all 1s ease;
}

.card-content {
  text-align: center;
  padding: 20px;
}

.card-content .icon {
  margin-bottom: 0px;
}

.card-content h3 {
  color: #000;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: var(--Display-Small-Line-Height, 44px);
}

.card-content p {
  font-family: 'Roboto';
  font-size: 18px;
  color: #243c82;
}

.swiper-slide {
  opacity: 1;
  padding: 0px 20px;
  transition: opacity 1s ease;
}

.swiper-slide .ant-card p {
  color: #1f190c !important;
}

.swiper-slide .ant-card {
  width: 100%;
}

.swiper-slide-active {
  opacity: 1;
}

.swiper-slide-next,
.swiper-slide-prev {
  opacity: 0.8;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none !important;
}

.swiper-3d {
  perspective: none;
}

.title-header {
  display: flex;
}

.title-header h3 {
  font-size: 20px;
  font-weight: 500;
  color: #1f190c;
  margin-bottom: 0px;
}

.title-header p {
  padding: 0px 0px;
}

.title-header .icon svg {
  color: white !important;
}

.hero-bg {
  background-size: cover !important;
  width: 100% !important;
  height: 100% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  position: relative;
}

.hero-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(100px);
  z-index: -9999;
}

/* .title-header .icon {
  padding: 8px 10px;
  margin-top: 5px;
  margin-right: 5px;
  background-color: #1a7222;
  border-radius: 10px;
  color: white !important;
  height: 40px;
  width: 40px;
  margin-top: 15px;
} */

.title-header .icon svg {
  width: 40px;
  height: 40px;
  margin-top: 13px;
}

.swiper-content {
  padding-left: 10px;
}

.swiper-content h3 {
  color: #000;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.swiper-content p {
  color: #000;
  font-family: Lato;
  font-size: 20px;
  margin-top: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.swiper-slide .ant-card-body {
  text-align: left;
  padding: 20px 0px;
}

.swiper-slide .ant-card {
  background: #ffe8b7;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 0px;
}

.swiper-slide .ant-card .links {
  display: none !important;
  transition: 0.8s;
}

.swiper-slide-active.feature-card .ant-card .ant-card-body .links {
  margin-top: 8px;
  display: flex !important;
  transition: 0.8s;
  border-top: 1px solid #44474667;
}

.swiper-slide {
  transform: scale(0.8) !important;
}

.swiper-slide-active.feature-card {
  transform: scale(1) !important;
}

.swiper-slide-active.feature-card .ant-card-body {
  padding-bottom: 0px !important;
}

.big-number {
  color: #000;
  text-align: center;
  font-family: Lato;
  font-size: 160px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.stats-section {
  /* background: linear-gradient(
    180deg,
    rgba(255, 204, 77, 1) 38%,
    rgba(255, 252, 240, 0.377) 100%
  ) !important; */
  padding-bottom: 50px;
}

.stats-section h2 {
  color: #000;
  font-family: Lato;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 32px;
}

.stats-section p {
  color: #000;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
}

.stats-section .dark-btn {
 margin: 32px 0px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.icon {
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  margin: 10px 0;
}

p {
  font-size: 14px;
  color: #555;
  flex-grow: 1;
  /* Ensures descriptions adjust properly */
}

.cta-btn {
  background: black;
  color: white;
  border: none;
  margin-top: 30px;
  padding: 12px 24px;
}

.acquire-section .ant-typography {
  color: #000;
  font-family: Lato;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.AcquireCards .card-content h3 {
  color: #000;
  margin-top: 20px;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
  min-height: 88px;
  display: flex;
  align-items: flex-start;
}

.AcquireCards .card-content p {
  margin-top: 0;
  /* Remove default margin */
  color: #000;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
}

.AcquireCards .dark-btn {
  margin-top: 70px;
}

.create-section {
  text-align: center;
  padding: 40px 20px;
  background: #fffaf0;
  padding-bottom: 10px;
  /* Light cream background */
}

.create-section .ant-typography {
  text-align: center;
  padding: 0px 20px;
  margin-top: 0px;
}

.text-content .create-box-text {
  margin-top: 20px;
  color: #000;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-content h3 {
  color: #000;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


.create-content {
margin-top: 80px;
}

.create-icon {
  display: inline-block;
  background: #ffcc4d;
  padding: 10px;
  border-radius: 8px;
  font-size: 24px;
}

.info-card:hover {
  transform: translateY(-5px);
}

.info-icon {
  background: white;
  padding: 0px 5px;
  border-radius: 8px;
  display: inline-block;
  font-size: 52px;
}

.info-icon svg rect {
  fill: #fff4df;
}

.info-icon svg path {
  fill: #1f190c;
}

.info-icon:hover svg rect {
  fill: transparent !important;
  border: 1px solid white;
}

.info-icon svg {
  border-radius: 30px;
  border: 1px solid #ffffff;
  width: 150px;
  height: 150px;
}

.generative-ai-content .text-content {
  padding: 0px 30px;
  /* width: 70%; */
}

.info-icon:hover svg {
  border: 1px solid #ffffff;
  transition: 0.4s;
  transform: translate(0px, -10px);
}

.info-icon:hover svg path {
  fill: #ffffff !important;
}

.info-title {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
}

.info-description {
  font-size: 14px;
  color: #555;
}

.create-cards-bg {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  width: 100% !important;
  border-radius: 25px;
}

.generative-ai-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  /* background: #ffbb2ac7; */
}

.create-cards {
  background: #fffaf0 !important;
  padding: 40px 90px 2px 90px;
}

.create-cards .info-cards-container .ant-card,
.info-icon {
  background: transparent !important;
  border: none;
}

.create-cards .info-cards-container .ant-card .ant-card-body {
  padding: 0px;
}

.create-cards .dark-btn {
  margin-top: 70px;
  margin-bottom: 30px;
}

.create-cards .generative-ai-container:nth-child(1) {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 0px !important;
}

.create-cards .generative-ai-container:nth-child(4) {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 0px !important;
}

.generative-ai-content {
  padding: 80px 20px;
  border-radius: 0px;
  /* max-width: 80%; */
  width: 100%;
}

.generative-ai-content:focus-visible {
  outline: none !important;
}

.text-content {
  text-align: left;
}

.info-cards-container {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.checkout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 70px 60px 70px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.checkout-content {
  /* background: rgba(255, 204, 77, 0.2);  */
  /* background-color: white; */
  padding: 30px 50px 60px 50px;
  /* border-radius: 20px;
  max-width: 1200px;
  width: 100%; */
  text-align: center;
  background-size: cover !important;
  background-position: top !important;
  background-repeat: no-repeat !important;
  margin-top: 30px;
}

.checkout-header {
  margin-bottom: 30px;
  margin-top: 35px;
}

.checkout-container {
  background: #fffaf0;
}

.checkout-icon {
  font-size: 32px;
  color: #ffcc4d;
}

.checkout-feature {
  text-align: left;
  height: 100%;
  padding: 30px;
  border-radius: 30px;
}

.checkout-feature:hover {
  height: 100%;
  background-color: #ffe8b7bd;
}

.checkout-btn-container {
  margin-top: 30px;
}

.checkout-btn {
  background: black;
  color: white;
  border: none;
}

.checkout-btn:hover {
  background: #333;
}

.agent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 80px 80px 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  padding-bottom: 0px;
}

.agent-content {
  /* background: rgba(255, 255, 255, 0.8); */
  /* Light Transparent Background */
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.agent-header {
  margin: 30px 0px;
}
.audiences-content .section-divider{
  margin-bottom: 80px;
}

.agent-icon {
  font-size: 32px;
  color: #ffcc4d;
}

.agent-feature {
  text-align: left;
}

.feature-icon {
  font-size: 28px;
  margin-bottom: 10px;
}

.agent-btn-container {
  margin-top: 30px;
  text-align: left;
}

.agent-btn {
  background: black;
  color: white;
  border: none;
}

.agent-btn:hover {
  background: #333;
}

.agent-header {
  text-align: center;
}

.audiences-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
}

.audiences-content {
  /* background: rgba(255, 255, 255, 0.8); */
  padding: 20px;
  border-radius: 20px;
  max-width: 100%;
  width: 100%;
  text-align: center;
  padding-bottom: 0px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.audiences-header {
  margin-bottom: 30px;
}

.agent-header .section-title-header,
.activate-content .section-title-header,
.identity-content .section-title-header {
  justify-self: left;
  padding-left: 0px;
}

.agent-header .section-title-header + .ant-typography,
.activate-header .ant-typography,
.identity-header .ant-typography {
  width: 100% !important;
  text-align: left !important;
}

.section-divider {
  margin-top: 50px !important;
  margin-bottom: 50px;
}

.section-divider .ant-divider {
  border-color: #ffbb2a !important;
  min-width: 50% !important;
  margin: 0 auto !important;
  width: 50%;
}

.create-cards .section-divider {
  margin-top: 75px !important;
}

.audiences-header .ant-typography {
  text-align: center;
}

.audiences-icon {
  font-size: 32px;
  color: #ffcc4d;
}

.audience-card {
  background: white;
  padding: 10%;
  border-radius: 50%;
  text-align: center;
  transition: all 0.3s ease;
  height: 100%;
}

.audience-card:hover {
  background: #ffd47a;
  /* Light Yellow Hover Effect */
  cursor: pointer;
  -webkit-backdrop-filter: blur(50px) !important;
  backdrop-filter: blur(50px) !important;
}

.audience-card .ant-typography,
.activate-card .ant-typography,
.identity-card .ant-typography {
  font-size: 20px;
}

.audience-card h5,
.activate-card h5,
.identity-card h5 {
  font-size: 24px !important;
}

.audiences-btn-container {
  margin-top: 30px;
}

.audiences-btn {
  background: black;
  color: white;
  border: none;
}

.audiences-btn:hover {
  background: #333;
}

.activate-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  background: white;
  padding-bottom: 0px;
  /* Temporary White Background */
}

.activate-content {
  max-width: 1200px;
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.activate-header {
  text-align: center;
  margin-bottom: 30px;
}

.activate-icon {
  font-size: 32px;
  color: #ffcc4d;
}

.agent-feature {
  height: 100%;
  padding: 20px;
  border-radius: 12px;
}

.activate-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  text-align: left;
  transition: all 0.3s ease;
  height: 100%;
  border: 1px solid #f6f5f0 !important;
}

.activate-card:hover,
.agent-feature:hover {
  background: rgba(255, 204, 77, 0.3);
  /* Light Yellow Hover Effect */
  cursor: pointer;
}

.activate-title {
  margin-bottom: 10px;
}

.activate-description {
  font-size: 14px;
  color: #555;
}

/* Button Section */
.activate-button {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 10px;
}

.activate-button .ant-btn-primary {
  background: black;
  border: none;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 8px;
}

.activate-button .ant-btn-primary:hover {
  background: #ffcc4d;
  color: black;
}

.identity-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
  /* background: white; */
  padding-top: 0px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  /* Temporary White Background */
}

/* .identity-content {
  max-width: 1200px;
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
} */

.identity-header {
  text-align: center;
  margin-bottom: 30px;
}

.identity-icon {
  font-size: 32px;
  color: #ffcc4d;
}

.identity-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  text-align: left;
  transition: all 0.3s ease;
  border: 2px solid #eee;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.identity-card:hover {
  background: rgba(255, 204, 77, 0.3);
  /* Light Yellow Hover Effect */
  cursor: pointer;
}

.identity-title {
  margin-bottom: 10px;
  background-color: #ffbb2ab2;
  border-radius: 20px;
  padding: 10px;
  height: 150px;
  margin-top: 15px;
}

.identity-description {
  font-size: 14px;
  color: #000000;
}

/* Button Section */
.identity-button {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 40px;
}

.identity-button .ant-btn-primary {
  background: black;
  border: none;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 8px;
}

.identity-button .ant-btn-primary:hover {
  background: #ffcc4d;
  color: black;
}

.cta-section {
  background-color: white;
}


.solar-content-box h3{
font-size: 36px;
font-weight: 700;
}

.solar-content-box h4{
font-size: 28px;
font-weight: 700;
}

.solar-content-box h4{
font-size: 28px;
font-weight: 700;
}
.solar-content-box span{
font-size: 20px;
font-weight: 400;
}

.solar-content-box .dark-btn{
  width: 30%;
  margin-top: 20px;
}

.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #ffbb2a; */
  /* Yellow Background */
  padding: 150px 20px;
  /* border-radius: 24px; */
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.cta-content {
  text-align: center;
  /* max-width: 900px; */
  width: 100%;
}

.cta-text {
  font-size: 56px;
  font-weight: 500;
  color: black;
  margin-bottom: 0px !important;
}

.cta-bold {
  font-weight: bold;
}

.cta-buttons {
  /* display: flex; */
  justify-content: center;
  gap: 20px;
  margin: 40px 0px;
}
.helping-list-button{
  font-size: 20px;
  text-decoration: underline;
  color: #000000 !important;
}
.cta-button {
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 24px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.cta-buttons .dark-btn{
  width: 18% !important;
}

/* White Button */
.white-btn {
  background: white;
  color: black;
  border: none;
}

.white-btn:hover {
  background: #f1f1f1;
}

/* Black Button */
.black-btn {
  background: black;
  color: white;
  border: none;
  display: none;
}

.black-btn:hover {
  background: #333;
}

.footer-container {
  padding: 60px 120px 0px 120px;
  background: white;
  text-align: left;
}

.services-list-container .service-title {
  font-size: 24px;
}

.services-list-container .service-description {
  font-size: 20px;
}
.services-list-container .service-list {
  font-size: 20px;
  list-style: none;
  padding: 0px;
}
.services-list-container .service-list li {
  display: flex;
  margin: 15px 0px;
}

.services-list-container .service-list li::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 13px;
  border-radius: 50%;
  background-color: #000;
  margin-right: 10px;
  flex: 1 1;
  max-width: 5px;
  min-width: 12px;
  margin-top: 8px;
}

.footer-title {
  font-size: 26px !important;
  font-weight: bold;
  color: black;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.final-cta-container h2 {
  font-size: 66px !important;
}

.footer-list li a {
  font-size: 20px;
  color: black;
  margin-bottom: 6px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-list li {
  margin: 15px 0px;
}

.footer-list li:hover {
  color: #ffcc4d;
}

.final-cta-container {
  text-align: center;
  padding: 10px 20px 40px 20px;
  background: white;
}
.final-cta-container .dark-btn {
 margin: 30px 0px 40px 0px;
}

.cta-heading {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.cta-button {
  background: black;
  color: #ffcc4d;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin: 20px 0;
  transition: 0.3s;
}

.cta-button:hover {
  background: #222;
}

.footer-links {
  margin-top: 15px;
}

.footer-links span {
  font-size: 22px;
  color: black;
  margin: 0 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.footer-links span:hover {
  color: #ffcc4d;
}

.footer-text {
  font-size: 14px;
  color: black;
  margin-top: 10px;
}

.checkout-feature h5,
.agent-feature h5 {
  font-size: 24px !important;
  font-weight: 700 !important;
}
.agent-feature h5, .checkout-feature .ant-typography{
  margin-top: 0px;
}

.checkout-feature .ant-typography,
.agent-feature .ant-typography {
  color: #000;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
}
.footer-services .section-title-header {
  text-align: left !important;
  justify-self: left !important;
  padding: 0px !important;
}
.footer-services .section-title-header h2 {
  padding: 0px !important;
  margin: 0px !important;
}

.conversation-container {
  position: relative;
  margin: 0px 100px;
  padding: 50px;
  text-align: center;
}

.conversation-container .title {
  font-size: 56px;
  color: #000;
  margin-bottom: 20px;
}

.conversation-container .features {
  text-align: left;
  margin-bottom: 30px;
}

.conversation-container .feature {
  font-size: 28px;
  font-weight: 500;
  padding: 15px 0;
  border-bottom: 1px solid #f1b300;
  position: relative;
  margin: 50px 0px;
}

.conversation-container .feature::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffbb2a;
  margin-right: 10px;
  flex: 1 1;
  margin-top: 8px;
  position: absolute;
  right: -10px;
  top: 50px;
  z-index: 999999;
}

.conversation-container .join-button {
  background: #001f7f;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  padding: 12px 24px;
  transition: 0.3s;
}

.conversation-container .join-button:hover {
  background: #002ea5;
}

.conversation-container .curve {
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 50%;
  height: 100%;
  border-right: 3px solid #f1b300;
  border-radius: 50%;
  transform: rotate(45deg);
}

/* :where(.css-19lec04).ant-menu-submenu-popup.ant-menu-submenu {
  width: 100% !important;
  left: 0px !important;
} */
/* .mobile-view {
  display: none;
} */
/* ======== Responsiveness ======== */

/* ===== Mobile responsive ===== */
@media (max-width: 768px) {
  .card-content h3 {
    font-size: 16px;
  }

  .card-content p {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .card-content h3 {
    font-size: 14px;
  }

  .card-content p {
    font-size: 12px;
  }
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .navbar {
    padding: 15px 20px;
  }
}

@media (max-width: 480px) {
  .big-number {
    font-size: 55px;
    padding: 0px;
    margin: 0px;
    font-weight: 600;
  }

  .AcquireCards {
    padding: 0px 30px;
  }

  .create-section .ant-typography {
    text-align: left !important;
  }

  .Aquire-cards {
    background-color: #fff4df;
    padding: 30px 0px;
    border-radius: 30px;
  }

  .Aquire-cards:hover {
    background-color: #ffbb2a !important;
  }

  .aquire-btn {
    padding: 25px 0px;
  }

  .generative-ai-content {
    max-width: 100% !important;
    width: auto !important;
    padding: 30px 0px;
  }

  .info-cards-container .ant-card-body {
    padding: 0px;
  }

  .stats-section h2 {
    padding: 0px 20px;
  }

  .stats-section p {
    padding: 0px 20px;
  }

  .create-cards .generative-ai-container:nth-child(2) .ant-row {
    flex-direction: column-reverse;
  }

  .create-cards .generative-ai-container:nth-child(4) .ant-row {
    flex-direction: column-reverse;
  }

  .create-cards {
    padding: 0px 20px 40px 20px;
  }

  .checkout-header .title-header {
    padding: 0px 0px 10px 0px !important;
  }

  .checkout-header,
  .activate-header,
  .identity-header {
    text-align: left;
  }

  /* .checkout-content {
    background: linear-gradient(to bottom, #fde6a8, #fddc93);
  } */

  .swiper-slide,
  .swiper-slide .card-content,
  .swiper-slide .ant-card-body {
    width: 100% !important;
  }

  /* .mobile-view {
    display: block !important;
  } */
  /* .feature-slider {
    display: none !important;
  } */

  .audience-card {
    padding: 100px 20px;
    background-color: #fff4df !important;
  }

  .audience-card h5 {
    margin-bottom: 15px;
  }

  .checkout-container,
  .agent-container,
  .audiences-container,
  .activate-container {
    background-color: #f5f5f5;
  }

  .audiences-container {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .agent-container,
  .audiences-content {
    padding-bottom: 0px;
  }

  .audiences-btn-container .ant-btn {
    margin-top: 30px;
  }

  .agent-content,
  .audiences-content {
    background: transparent;
  }

  .activate-card h5,
  .identity-card h5 {
    margin-top: 10px;
  }

  .identity-container {
    padding: 35px 20px;
  }

  .cta-buttons {
    flex-direction: column-reverse;
  }

  .cta-button {
    margin: 0px;
  }

  .footer-container {
    text-align: left;
    padding: 0px 30px;
    padding-top: 50px;
  }

  .footer-container .ant-row {
    flex-direction: column;
    row-gap: 0px !important;
  }

  /* .footer-container .css-dev-only-do-not-override-1yacf91{
      margin-top: 0px;
    } */
  .footer-container .ant-row .ant-col:nth-child(2) h5 {
    margin-top: 8px;
  }

  .footer-container .ant-row .ant-col h5 {
    font-size: 20px;
  }

  /* .footer-container .ant-row .ant-col:nth-child(2) {
    max-height: 450px;
  } */

  /* .footer-container .ant-row .activated:nth-child(2) {
    max-height: 105rem !important;
  } */
  /* 
  .footer-container .ant-row .links-active {
    max-height: 75rem !important;
  } */

  .final-cta-container {
    padding: 2px 20px 20px 20px;
  }

  .expand-link-btn {
    padding: 0px;
    font-size: 18px;
    font-weight: 600;
    color: #1f190c !important;
  }

  .title-header h3 {
    margin: 0px;
  }

  .title-header p {
    padding: 0px;
  }

  /* .title-header {
    border-bottom: 1px solid #f3b228;
  } */

  .swiper-slide .ant-card .links {
    font-size: 20px;
  }

  .swiper-slide .ant-card .links .icon {
    margin: 0px;
  }

  .cards-section.AcquireCards .ant-col {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .cards-section.AcquireCards .ant-card-body {
    background-color: transparent;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  /* .swiper-wrapper{
    transform: none !important;
  } */
  .create-section {
    padding-left: 0px;
    padding-right: 0px;
  }

  .checkout-content {
    padding: 10px;
  }

  .checkout-header .section-title-header {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
  }

  .agent-content,
  .agent-container .section-title-header {
    padding: 0px;
  }

  .agent-container .section-title-header {
    padding-bottom: 20px;
  }

  .audiences-content {
    padding-left: 0px;
    padding-right: 0px;
  }

  .audiences-content .section-title-header {
    padding-left: 0px;
  }

  .activate-content .section-title-header,
  .identity-content .section-title-header {
    padding-left: 0px;
  }

  .ant-collapse-content-box p {
    text-align: left;
  }

  .ant-collapse-content-box p span svg {
    font-size: 18px;
    font-weight: bold;
  }

  .ant-drawer-content-wrapper {
    width: 100% !important;
    /* background-color: #ffffffe0 !important; */
  }

  .create-cards .generative-ai-container .generative-ai-content {
    padding-bottom: 0px;
  }

  .create-cards .generative-ai-container:nth-child(4) .generative-ai-content {
    padding-bottom: 30px;
  }

  .mobile-nav .ant-drawer-title {
    text-align: left;
  }

  .mobile-nav .ant-drawer-header-title,
  .mobile-nav .ant-drawer-body .collapse-menu .ant-collapse-header {
    flex-direction: row-reverse;
  }

  .mobile-nav .ant-drawer-header-title span {
    color: #1f190c;
  }

  .mobile-nav .ant-drawer-header {
    border: none !important;
  }

  .mobile-nav .ant-drawer-header-title img {
    margin-top: 10px;
  }

  .mobile-nav .ant-drawer-body .collapse-menu {
    border: none !important;
    background-color: transparent;
  }

  .mobile-nav .ant-drawer-body {
    padding: 0px 20px;
  }

  .mobile-nav .ant-drawer-body .collapse-menu .ant-collapse-item {
    border: 0px;
  }

  .mobile-nav
    .ant-drawer-body
    .collapse-menu
    .ant-collapse-header
    .ant-collapse-header-text {
    text-align: left;
    padding: 0px;
    font-size: 20px;
    color: #07074b;
  }

  .mobile-nav {
    background-color: #ffffffe0 !important;
  }

  .mobile-nav .ant-collapse-expand-icon {
    background-color: white;
    border-radius: 50%;
    padding: 16px 10px;
  }

  .mobile-nav .ant-drawer-body .collapse-menu .ant-collapse-header {
    padding: 0px;
    margin: 5px 0px;
  }

  .mobile-nav .ant-collapse-content-box,
  .mobile-nav .ant-collapse-content {
    background: transparent !important;
  }

  .mobile-nav .ant-collapse-content-box .item-title {
    font-weight: 700;
    color: #1f190c !important;
  }

  .mobile-nav .ant-collapse-content-box .product-item {
    margin-bottom: 10px;
  }
  .mobile-nav  .menu-item{
    display: flex;
    padding: 5px 0px;
  }
  .mobile-nav  .menu-item h5{
    margin-top: 0px;
    margin-left: 10px;
  }

  .section-title-header {
    justify-self: left;
    padding-bottom: 5px;
  }

  .acquire-section .ant-typography {
    padding: 0px 20px;
    text-align: left;
  }

  .acquire-section .section-title-header .acquire-title {
    font-size: 24px;
    color: #aaed0c !important;
    font-weight: bold;
  }

  .acquire-paragraph {
    font-size: 16px;
    color: #2b45eb;
    line-height: 1.5;
  }

  .cards-section {
    padding-top: 20px;
  }

  .agent-header {
    text-align: left;
  }

  .audiences-header .ant-typography {
    text-align: left;
  }

  .info-icon {
    padding: 0px;
  }

  .link-icon-text {
    font-size: 9px;
    top: 0px !important;
  }

  .title-header .icon {
    margin-top: 5px;
  }

  .feature-section {
    opacity: 0;
    animation: fadeIn 0.8s ease-in 0.8s forwards;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  .info-icon svg {
    width: 95px;
    height: 95px;
  }

  .section-title-header + .ant-typography,
  .section-title-header + .identity-header .ant-typography,
  .section-title-header + .activate-header .ant-typography,
  .section-title-header + .audiences-header .ant-typography {
    width: 100%;
  }

  .feature-section {
    margin: 50px 0px;
  }

  .generative-ai-content .text-content {
    width: 100% !important;
    padding: 0px;
  }

  .checkout-content {
    padding: 30px 0px !important;
  }

  .checkout-header .section-title-header + .ant-typography {
    width: 100% !important;
  }

  .checkout-header {
    padding: 2px 30px;
  }

  .info-cards-container {
    gap: 3%;
  }

  .revenue-box .generative-ai-content .ant-row,
  .feedback-box .generative-ai-content .ant-row {
    flex-direction: column-reverse;
  }

  .dark-btn {
    width: 100% !important;
    font-size: 16px !important;
  }
  .cta-buttons .dark-btn {
    width: 100% !important;
}
  .dark-btn span{
   font-size: 16px !important;
  }
  .section-title-header h2 {
    font-size: 40px !important;
  }

  .contact-us-container {
    display: block;
  }
  .contact-us-container .contact-form {
    width: auto;
  }

  .contact-us-container .contact-info {
    width: auto;
  }
  .hero-video {
    transform: scale(1.2);
    margin-top: 70px;
  }
  .menu-item{
    display: flex;
  }
}
