.industry-top-heading {
  text-align: center;
  padding: 10% 2% 5% 2% !important;
  background: transparent !important;
}
.industry-top-heading h5{
  font-size: 24px;
}
.industry-top-heading h2{
  font-size: 56px;
}
.industry-top-heading h4{
  font-size: 30px;
}
.industry-top-heading .industry-cards-section h4{
  font-size: 27px;
}
.industry-cards-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 100px;
}
.industry-card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  background-color: #faf7f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  height: 100%;
}

.industry-card__title {
  font-size: 27px !important;
  font-weight: bold;
  margin-bottom: 8px;
}

.industry-card__description {
  font-size: 24px !important;
  color: #444;
  margin-bottom: 8px;
}
.industry-card__image{
  background-color: #EBE8DD;
  border-radius: 12px;
  padding: 15px;
}

.industry-card__list {
  padding-left: 18px;
  margin-bottom: 10px;
  list-style: none;
}
.industry-card__list li{
display: flex;
}

.industry-card__list li span{
  font-size: 24px;
  color: #333;
}
.industry-card__list li::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
  margin-right: 10px;
  flex: 1 1;
  max-width: 5px;
  min-width: 10px;
  margin-top: 14px;
}
.industry-card__link {
  font-size: 24px;
  color: #000000 !important;
  font-weight: bold;
  text-decoration: underline !important;
}

.industry-card__link:hover {
  text-decoration: underline;
}


/* ====== Mobile View ====== */
@media (max-width: 480px) {
  .industry-cards-section {
    padding: 20px;
  }
}
