body {
  background: linear-gradient(to bottom, #fbbc04, #fabc25);
  text-align: center;
  margin: 0;
}
.hero{
  background-color: #F7C04C !important;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: transparent;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.menu {
  flex-grow: 1;
  justify-content: center;
  background: transparent;
  border: none;
}

.cta-btn {
  background: black;
  color: white;
  border: none;
}

.hero {
  padding: 50px 20px;
}

.hero h1 {
  font-size: 36px;
}

.hero p {
  font-size: 18px;
}

.hero-image {
  margin-top: 20px;
}
.feature-section {
  padding: 50px 20px;
  text-align: center;
}

.feature-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.icon {
  margin-bottom: 10px;
}


.stats-section {
  text-align: center;
  padding: 60px 20px;
  background: linear-gradient(to bottom, #fbbc04, #fabc25);
}

.big-number {
  font-size: 60px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  margin-top: 10px;
}

p {
  font-size: 16px;
  max-width: 600px;
  margin: 10px auto;
}

.cta-btn {
  background: black;
  color: white;
  border: none;
  margin-top: 20px;
}
